*{
    margin: 0px;
    padding: 0px;
}
.projetos-div{
    height: 100vh;
    display: inline;
    align-items: center;
    text-align: center;
    background-color: #2f909cb6;
}
.div-galeria{
    width: 100%;
    background-color: #389ba8;
}
.galeria{
    padding-top: 90px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.projetos-title{
    color: #389ba8;
    font-size: 60px;
}

.projeto-img{
    border-radius: 50px;
    margin: 15px;
    width: 300px;
    height: 210px;
    -webkit-transition: 0.5s ease-in;
   -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.projeto-img:hover{
    border-radius: 20px;
    width: 330px;
    height: 220px;
}

.button-watch-more {
    width: 60px;
    height: 70px;
    position: relative;
    margin-bottom: 100px;
    
}

.button-open-div{
    background-color: rgba(255, 255, 255, 0);
}
.seta-watch-more {
    width: 50px;
    height: 50px;
   
}


.projeto-img-open{
    border-radius: 50px;
    margin: 15px;
    width: 300px;
    height: 210px;
    -webkit-transition: 0.5s ease-in;
   -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}


@media screen and (max-width: 700px){


.div-galeria{
    width: 100%;
    height: 450px;
    background-color: #389ba8;
    align-items: center;
}


.div-galeria-aberta{
    width: 100%;
    background-color: #389ba8;
    align-items: center;
}


.projeto-img{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 50px;
    margin-top: 0px;
    width: 380px;
    height: 250px;
    -webkit-transition: 0.5s ease-in;
   -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.seta-watch-more {
    width: 50px;
    height: 50px;
   
}

.projeto-img-open{
    border-radius: 50px;
    margin: 25px;
    width: 350px;
    height: 230px;
    -webkit-transition: 0.5s ease-in;
   -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}



}